* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

header {
  color: rgb(45, 72, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

body {
  background-color: cadetblue;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.calc {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 65px rgba(0, 50, 0, 0.3);
}

.res {
  padding: 16px;
  text-align: right;
  background-color: rgb(45, 72, 73);
  color: rgb(137, 218, 221);
  font-size: 35px;
  font-weight: 400;
}

.res span {
  font-size: 10px;
  color: rgb(157, 196, 197);
}

button {
  appearance: none;
  border: 0;
  outline: none;
  color: rgb(137, 218, 221);
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  opacity: 0.6;
}

.operatButts {
  display: flex;
}

.operatButts button {
  flex: 1 1 3%;
  background-color: rgb(1, 1, 48);
  font-weight: 800;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.3333%;
  background-color: rgb(45, 72, 73);
}

@media (min-width: 500px) {
  .calc {
    width: 65%;
    height: 65%;
  }
}

@media (min-width: 700px) and (min-height: 720px) {
  .calc {
    width: 65%;
    height: 80%;
  }
}

@media (min-width: 801px) {
  .calc {
    width: 65%;
    height: 80%;
  }
}

@media (min-width: 540px) and (min-height: 720px) {
  .calc {
    width: 50%;
    height: 80%;
  }
}

@media (min-width: 1281px) {
  .calc {
    width: 20%;
    height: 80%;
  }
}

@media (min-width: 1024px) {
  .calc {
    width: 20%;
    height: 80%;
  }
}

@media (min-width: 1023px) and (min-height: 1355px) {
  .calc {
    width: 40%;
    height: 70%;
  }
}

@media (min-width: 1500px) {
  .calc {
    width: 30%;
  }
}

@media (min-width: 600px) and (min-height: 1024px) {
  .calc {
    height: 60%;
  }
}
